<div class="mt-2 text-center">
  <ng-container *ngFor="let client of dataList | clientsSearch:clientSearchValue; trackBy:trackData">
    <ion-item color="light" class="rounded-3 listItem d-inline-block" lines="none"
      [routerLink]="'client-details/' + client.key">
      <ion-label>{{client?.data.name}}</ion-label>
      <div class="ms-auto text-end col mt-1">
        <ion-badge *ngFor="let clientDetail of client.data.data" [color]="getColor(clientDetail)" class="ms-1">
          {{(clientDetail.principal/1000).toFixed() +'K'}}
        </ion-badge>
      </div>
    </ion-item>
  </ng-container>
</div>