<div class="mx-2 py-0 px-1 summary bgLight" *ngIf="selectedChips.length">
  <table class="table table-sm caption-top my-0" [attr.data-bs-theme]="theme">
    <caption>Summary : {{selectedChips.length}} Selected</caption>
    <thead>
      <tr>
        <th>Principal</th>
        <th>Interest</th>
        <th>Final</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let record of selectedChips">
        <td>₹ {{isd.format(record.principal)}}</td>
        <td>₹ {{isd.format(record.interest)}}</td>
        <td>₹ {{isd.format(record.principal + record.interest)}}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr class="table-success">
        <th>{{getQuickMenuPrincipal()}}</th>
        <th>{{getQuickMenuInterest()}}</th>
        <th>{{getQuickMenuTotal()}}</th>
      </tr>
    </tfoot>
  </table>
</div>


@if(selectedChips.length > 0){
<div class="d-flex flex-wrap align-items-center gap-2 m-2">
  <ion-button color="primary" size="small" (click)="bulkShare()">
    <ion-icon name="share-social-outline" slot="start"></ion-icon>
    Share
  </ion-button>

  @if(selectedChips.length > 1){
  <ion-button class="ms-auto" color="success" size="small" (click)="bulkApprove()">
    <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
    Approve
  </ion-button>
  <ion-button class="ms-1" color="danger" size="small" (click)="bulkDelete()">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    Delete
  </ion-button>
  }
</div>
}