<ion-header>
  <ion-toolbar>
    <ion-title>Share</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="log">
        <ion-icon name="receipt-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="m-2">
    <ion-card-header>
      <ion-card-title>Export section</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="mb-2 pb-2">
        To save your clients data into internal storage, Click on export button.
      </div>
      <div>
        <ion-button expand="block" (click)="exportData()"
          >Export <ion-icon name="share-outline"></ion-icon
        ></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" class="m-2">
    <ion-card-header>
      <ion-card-title>Import section</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="mb-2 pb-2">
        To load your clients data into the app, Click on Choose file and select
        .json file from internal storage.
      </div>
      <div>
        <ion-item color="primary">
          <ion-input
            background="primary"
            #fileInput
            type="file"
            accept="application/JSON"
            (change)="importData($event.target)"
            [(ngModel)]="inputClientData"
          ></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-item class="m-2 border rounded-3" color="light" lines="none">
    <ion-label>Sort main list by</ion-label>
    <ion-select
      (ionChange)="changeSort($event)"
      interface="action"
      placeholder="Year/Name"
    >
      <ion-select-option value="year">Year</ion-select-option>
      <ion-select-option value="name">Name</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="m-2 border rounded-3" color="light" lines="none">
    <ion-label>Select Theme</ion-label>
    <ion-select
      [value]="themeName"
      (ionChange)="changeTheme($event)"
      interface="popover"
    >
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
      <ion-select-option value="auto">Auto</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="cleanData()" color="warning" expand="block" class="m-2"
    >Empty Errors fix</ion-button
  >

  <ion-button
    (click)="presentDeleteAlert()"
    color="danger"
    expand="block"
    class="m-2"
    >Remove all clients data
  </ion-button>

  <ion-button
    (click)="checkForUpdate()"
    color="success"
    expand="block"
    class="m-2"
    [disabled]="isUpdateLoading"
    >Check for update
  </ion-button>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Check for update</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="bgLight m-2 rounded">
        <ion-grid>
          <ion-row>
            <ion-col size="6">Current version</ion-col>
            <ion-col>:</ion-col>
            <ion-col>{{currentVersion}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Latest version</ion-col>
            <ion-col>:</ion-col>
            <ion-col>{{updateVersion}}</ion-col>
          </ion-row>
          <ion-row class="text-center">
            <ion-col>
              <ion-button
                [href]="latestRelease.assets[0].browser_download_url"
                expand="block"
                >Download latest apk</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="m-2 p-2 bgLight rounded">
        <div *ngFor="let release of gitHubResponse">
          <div class="d-flex">
            <div class="fs-3 text-primary">{{release.tag_name}}</div>
            <a class="ms-2" [href]="release.assets[0].browser_download_url">
              <ion-icon name="download-outline" size="large"></ion-icon>
            </a>
            <a class="ms-2" [href]="release.html_url">
              <ion-icon name="logo-github" size="large"></ion-icon>
            </a>
            <div class="ms-auto fs-3 text-primary">
              {{getDateString(release.published_at)}}
            </div>
          </div>
          <small style="white-space: pre-line">{{release.body}}</small>
          <hr />
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
