<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
    <ion-progress-bar
      [hidden]="!loadingData"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container my-2">
    <ion-card color="light" [hidden]="user || !isWebVersion">
      <div class="d-flex m-2 justify-content-between align-items-center">
        <div class="">Sign in to sync data with your google account</div>
        <ion-button
          expand="block"
          (click)="signInWithGoogle()"
          [disabled]="loadingData"
        >
          Sign in
        </ion-button>
      </div>
    </ion-card>

    <div [hidden]="!user || !isWebVersion">
      <ion-avatar class="mx-auto" style="height: 2rem">
        <img
          alt="Profile pic image"
          [src]="user?.photoURL"
          referrerpolicy="no-referrer"
          class="img-container"
        />
      </ion-avatar>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title class="text-center p-1">
            <br />
            Hi {{user?.displayName}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="mx-2 d-flex py-2">
            <ion-button expand="block" class="w-100" (click)="loadCloudData()">
              Download&nbsp;<ion-icon name="cloud-download-outline"></ion-icon>
            </ion-button>
            <ion-button expand="block" class="w-100" (click)="uploadToCloud()">
              Upload&nbsp;<ion-icon name="cloud-upload-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-button
            class="mx-2 mb-2"
            expand="block"
            color="danger"
            (click)="logOutUser()"
          >
            Sign out
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title class="d-flex"
          ><div>Local Backup / Restore</div>
          <ion-icon
            id="help-section"
            name="help-sharp"
            size="small"
            class="ms-auto border border-dark bg-warning rounded-circle text-dark p-1"
          ></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div
          class="px-2 pt-2 d-flex align-items-center justify-content-between"
        >
          <div>Select file type :</div>
          <div class="form-check">
            <input
              type="radio"
              name="fileType"
              id="json"
              class="form-check-input"
              value="json"
              [(ngModel)]="fileType"
            />
            <label for="json" class="px-2 form-check-label">Json</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              name="fileType"
              id="excel"
              class="form-check-input"
              value="excel"
              [(ngModel)]="fileType"
            />
            <label for="excel" class="px-2 form-check-label"
              >Excel (beta)</label
            >
          </div>
        </div>

        <ion-grid class="mb-1">
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="exportData()">
                Backup
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="fileInput.click()">
                Restore
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-popover trigger="help-section" side="bottom" alignment="end">
      <ng-template>
        <ion-content class="ion-padding">
          <div>
            The backup button will save your data in the selected file type in
            the file path format shown below.
            <i class="text-info"
              >Internal_storage/Documents/CliDa/filename.json</i
            >.
            <hr class="mx-0 my-1 p-0" />
            When you click the Restore button with a valid json file /excel file
            with correct columns, you will get two options. We recommend using
            the replace option, but you can also try merge.
            <hr class="mx-0 my-1 p-0" />
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>

    <input
      hidden
      #fileInput
      type="file"
      [accept]="fileType==='excel'?'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':'application/JSON'"
      (change)="importData($event.target)"
      [(ngModel)]="inputClientData"
    />

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Data settings</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="primary">
                <ion-select
                  label="Sort Data list by"
                  placeholder="Nm/Yr"
                  [interfaceOptions]="{header:'Sort clients list menu by'}"
                  (ionChange)="changeSort($event)"
                >
                  <ion-select-option value="name">Name</ion-select-option>
                  <ion-select-option value="year">Year</ion-select-option>
                </ion-select>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="cleanData()" color="warning" expand="block">
                Data Errors fix
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                (click)="presentDeleteAlert()"
                color="danger"
                expand="block"
              >
                Remove all clients data
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>App settings</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="primary">
                <ion-select
                  (ionChange)="changeTheme($event)"
                  label="Choose theme"
                  interface="popover"
                  [value]="themeName"
                  interface="popover"
                >
                  <ion-select-option value="light">Light</ion-select-option>
                  <ion-select-option value="dark">Dark</ion-select-option>
                  <ion-select-option value="auto">Auto</ion-select-option>
                </ion-select>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                (click)="checkForUpdate()"
                color="success"
                expand="block"
                [disabled]="isUpdateLoading"
                >Check for update
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="secondary" routerLink="logs">
                Show logs
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                expand="block"
                color="danger"
                href="mailto:gangadhararao29@gmail.com?Subject=CliDa2_Bugs"
              >
                Report bug
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="d-flex"></div>
      </ion-card-content>
    </ion-card>

    <ion-modal #modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Check for update</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="bgLight m-2 rounded p-1">
            <ion-grid>
              <ion-row>
                <ion-col size="6">Current version</ion-col>
                <ion-col>:</ion-col>
                <ion-col>{{currentVersion}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Latest version</ion-col>
                <ion-col>:</ion-col>
                <ion-col>{{latestVersion}}</ion-col>
              </ion-row>
              <ion-row class="text-center">
                <ion-col>
                  <ion-button
                    [href]="gitHubResponse[0].assets[0].browser_download_url"
                    expand="block"
                    [disabled]="latestVersion <= currentVersion"
                    [innerHTML]="latestVersion <= currentVersion ? 'No updates found' : 'Download latest apk'"
                  ></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="m-2 p-2 bgLight rounded">
            <div *ngFor="let release of gitHubResponse">
              <div class="d-flex">
                <div class="fs-3 text-primary">{{release.tag_name}}</div>
                <a class="ms-2" [href]="release.assets[0].browser_download_url">
                  <ion-icon name="download-outline" size="large"></ion-icon>
                </a>
                <a class="ms-2" [href]="release.html_url">
                  <ion-icon name="logo-github" size="large"></ion-icon>
                </a>
                <div class="ms-auto fs-3 text-primary">
                  {{getDateString(release.published_at)}}
                </div>
              </div>
              <small [innerHTML]="release.body"></small>
              <hr class="subDivision" />
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div class="text-body-secondary text-center" [attr.data-bs-theme]="theme">
    <small
      >CliDa V3.8 by ChaGa<br />
      -- {{isWebVersion ? 'Web' : 'Android'}} version -- <br />
    </small>
  </div>
</ion-content>
