<ion-header>
  <ion-toolbar>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="m-2">
    <ion-card-header>
      <ion-card-title>Export section</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="mb-2 pb-2">
        To save your clients data into internal storage, Click on export button.
      </div>
      <div>
        <ion-button expand="block" (click)="exportData()"
          >Export <ion-icon name="share-outline"></ion-icon
        ></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" class="m-2">
    <ion-card-header>
      <ion-card-title>Import section</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="mb-2 pb-2">
        To load your clients data into the app, Click on Choose file and select
        .json file from internal storage.
      </div>
      <div>
        <ion-item color="primary">
          <ion-input
            background="primary"
            #fileInput
            type="file"
            accept="application/JSON"
            (change)="importData($event.target)"
            [(ngModel)]="inputClientData"
          ></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-item class="m-2 border rounded-3" color="light" lines="none">
    <ion-label>Sort main list by</ion-label>
    <ion-select
      (ionChange)="changeSort($event)"
      interface="action"
      placeholder="Year/Name"
    >
      <ion-select-option value="year">Year</ion-select-option>
      <ion-select-option value="name">Name</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="m-2 border rounded-3" color="light" lines="none">
    <ion-label>Select Theme</ion-label>
    <ion-select
      [value]="themeName"
      (ionChange)="changeTheme($event)"
      interface="popover"
    >
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
      <ion-select-option value="auto">Auto</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="cleanData()" color="warning" expand="block" class="m-2"
    >Empty Errors fix</ion-button
  >

  <ion-button
    (click)="presentDeleteAlert()"
    color="danger"
    expand="block"
    class="m-2"
    >Remove all clients data</ion-button
  >
</ion-content>

<ion-footer> </ion-footer>
