ion-content {
  --ion-background-color: var(--ion-color-medium);
}

input,
input:focus {
  background-color: var(--ion-color-dark-contrast);
  color: var(--ion-color-dark);
}

input:disabled {
  background-color: var(--ion-color-medium);
}

.bgLight {
  background-color: var(--ion-color-light);
}

.highlight {
  color: #198754;
}
