<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Interest Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<!-- class="p-2 formClass rounded-3" -->
<ion-content [fullscreen]="true">
  <div class="m-2">
    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
      <div class="bgLight p-2 rounded-3 mb-2">
        <div class="fs-5 fw-2 mb-1 mx-1">Enter details to calculate</div>
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="name"
            name="clientName"
            [ngModel]="linkData.name"
            disabled
          />
          <label for="name"><span class="formLabel">Client name</span></label>
        </div>
        <div class="mb-2 d-flex justify-content-between">
          <div class="form-floating d-inline-block">
            <input
              type="number"
              class="form-control"
              id="principal"
              placeholder="100000"
              #principal="ngModel"
              name="principal"
              [(ngModel)]="linkData.principal"
              required
              [class.is-valid]="principal.valid"
              [class.is-invalid]="principal.invalid &&  formRef.submitted"
            />
            <label for="principal"
              ><span class="formLabel">Principal</span></label
            >
            <div id="principal" class="invalid-feedback">
              Please enter Principal amount.
            </div>
          </div>

          <div class="form-floating d-inline-block">
            <input
              type="number"
              class="form-control"
              id="interest"
              placeholder="1.50"
              [(ngModel)]="linkData.interest"
              name="interest"
              #interest="ngModel"
              required
              [class.is-valid]="interest.valid"
              [class.is-invalid]="interest.invalid &&  formRef.submitted"
            />
            <label for="interest"
              ><span class="formLabel">Interest rate</span></label
            >
            <div id="interest" class="invalid-feedback">
              Please enter interest value.
            </div>
          </div>
        </div>
        <div class="form-floating mb-2">
          <input
            type="date"
            class="form-control"
            id="startDate"
            [(ngModel)]="linkData.startDate"
            name="startDate"
            required
            #startDate="ngModel"
            [class.is-valid]="startDate.valid"
            [class.is-invalid]="startDate.invalid &&  formRef.submitted"
          />
          <label for="startDate"
            ><span class="formLabel">Start date</span></label
          >
          <div id="startDate" class="invalid-feedback">
            Please enter start Date.
          </div>
        </div>
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="endDate"
            [(ngModel)]="linkData.endDate"
            name="endDate"
            required
            #endDate="ngModel"
            [class.is-valid]="endDate.valid"
            [class.is-invalid]="endDate.invalid &&  formRef.submitted"
          />
          <label for="endDate"><span class="formLabel">End date</span></label>
          <div id="endDate" class="invalid-feedback">
            Please enter end Date.
          </div>
        </div>
      </div>

      <div
        *ngIf="linkData?.closedOn"
        class="bg-success rounded-3 text-light text-center"
      >
        <div class="p-2">
          Record closed on
          <span class="fw-bold"
            >{{linkData?.closedOn.split('-').reverse().join('/')}}</span
          ><br />
          with amount
          <span class="fw-bold">₹ {{linkData?.closedAmount}}</span>
        </div>
      </div>

      <div class="my-2">
        <ion-button color="warning" expand="block" type="submit">
          Calculate
        </ion-button>
      </div>

      <div class="mt-2">
        <ion-button
          type="reset"
          color="danger"
          expand="block"
          (click)="resetForm()"
        >
          Reset
        </ion-button>
      </div>
    </form>
  </div>

  <ion-card color="light" *ngIf="showCalculatedData">
    <ion-item
      lines="none"
      color="success"
      style="font-size: large; font-weight: bold"
      >Calculated Data</ion-item
    >
    <div class="m-2 p-2 fw-bolder" style="font-size: 110%">
      <div class="row">
        <div class="col">Name</div>
        <div class="col-auto">:</div>
        <div class="col">{{linkData.name}}</div>
      </div>
      <div class="row">
        <div class="col">Principal (P)</div>
        <div class="col-auto">:</div>
        <div class="col highlight">{{currencyFormat(linkData.principal)}}</div>
      </div>
      <div class="row">
        <div class="col">Interst rate(R)</div>
        <div class="col-auto">:</div>
        <div class="col highlight">{{linkData.interest}}</div>
      </div>
      <div class="row">
        <div class="col">End date</div>
        <div class="col-auto">:</div>
        <div class="col">{{linkData.endDate}}</div>
      </div>
      <div class="row">
        <div class="col">Start date</div>
        <div class="col-auto">:</div>
        <div class="col">
          <u style="text-underline-offset: 5px; text-decoration-color: green"
            >{{linkData.startDate}}</u
          >
        </div>
      </div>

      <div class="row">
        <div class="col">Time Period</div>
        <div class="col-auto">:</div>
        <div class="col highlight">
          <u style="text-underline-offset: 5px">
            {{timePeriodObject?.y}}y&nbsp; {{timePeriodObject?.m}}m&nbsp;
            {{timePeriodObject?.d}}d&nbsp;
          </u>
        </div>
      </div>

      <div class="row mt-2 mb-1 text-center">
        <div>
          T = 12x{{timePeriodObject?.y}} + {{timePeriodObject?.m}} +
          {{timePeriodObject?.d}}/30 = {{timePeriodObject.tm.toFixed(2)}}
        </div>
        <div>
          I = {{linkData.principal}} x {{timePeriodObject.tm
          >36?36:timePeriodObject.tm.toFixed(3)}} x {{linkData.interest}}/100
        </div>
      </div>

      <div class="row">
        <div class="col">
          Interest (I)<span
            *ngIf="advIntShow"
            style="font-size: smaller"
            class="highlight"
            >(3y)</span
          >
        </div>
        <div class="col-auto">:</div>
        <div class="col highlight">
          {{currencyFormat(interestObj?.interest)}}
        </div>
      </div>

      <div class="row">
        <div class="col">Total amount</div>
        <div class="col-auto">:</div>
        <div class="col highlight">
          {{currencyFormat(interestObj?.interest + linkData?.principal)}}
        </div>
      </div>

      <div *ngIf="advIntShow">
        <h6 class="bg-danger text-light p-2 mt-2 rounded-3">
          Time taken greater than 3 years
        </h6>
        <div class="row">
          <div class="col">New principal</div>
          <div class="col-auto">:</div>
          <div class="col">{{currencyFormat(interestObj?.newPrincipal)}}</div>
        </div>
        <div class="row">
          <div class="col">Pending time</div>
          <div class="col-auto">:</div>
          <div class="col">
            {{timePeriodObject?.y - 3}}y, {{timePeriodObject?.m}}m,
            {{timePeriodObject?.d}}d
          </div>
        </div>
        <div class="row">
          <div class="col">New interest</div>
          <div class="col-auto">:</div>
          <div class="col highlight">
            {{currencyFormat(interestObj?.newInterest)}}
          </div>
        </div>
        <div class="row">
          <div class="col">Final amount</div>
          <div class="col-auto">:</div>
          <div class="col highlight">
            {{currencyFormat(interestObj?.newPrincipal +
            interestObj?.newInterest)}}
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
