<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clients-list">
      <ion-icon name="list-sharp"></ion-icon>
      <ion-label>Clients list</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculator">
      <ion-icon name="calculator-sharp"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="share-social"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>