@if (isWebVersion) {
  @if(user){

  <div class="d-flex justify-content-center" style="position: relative; height: 2rem; z-index: 10;">
    <ion-avatar style="width: 70px; height: 70px; position: absolute; top: 0.45rem;">
      <img alt="Profile pic image" [src]="user?.photoURL" referrerpolicy="no-referrer" />
    </ion-avatar>
  </div>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="text-center">
        <br />
        Hi {{ user?.displayName }}
      </ion-card-title>
      <div class="text-muted text-center">{{user?.email}}</div>
    </ion-card-header>
    <ion-card-content>
      <!-- Backup Info -->
      <div class="d-flex justify-content-between px-2 pt-2 pb-1 align-items-center">
        @if(autoBackupEnabled){
        <div>
          <ion-icon name="cloud-upload-outline" class="me-1"></ion-icon>
          Last backup: {{ lastBackupDate ? (lastBackupDate | date:'dd MMM yy, h:mm a') : 'Never' }} <br>
          <ion-icon name="time-outline" class="me-1"></ion-icon>
          Next backup: {{ nextBackupDate ? (nextBackupDate | date:'dd MMM yy, h:mm a') : '—' }}
        </div>
        <div class="mx-1" *ngIf="autoBackupEnabled">
          <span class="badge rounded-pill text-bg-success">
            <ion-icon name="repeat-outline"></ion-icon>
            Auto
          </span>
        </div>

        }
        @else {
        <div>
          <ion-icon name="time-outline" class="me-1"></ion-icon>
          Modified: {{ lastDataModified ? (lastDataModified | date:'dd MMM yy, h:mm a') : 'Never' }} <br>

          <ion-icon name="cloud-done-outline" class="me-1"></ion-icon>
          Synced: {{ lastCloudSync ? (lastCloudSync | date:'dd MMM yy, h:mm a') : 'Never' }}
        </div>

        <div class="mx-1">
          <span class="badge rounded-pill" [ngClass]="isBackupNeeded ? 'text-bg-warning' : 'text-bg-success'">
            <ion-icon [name]="isBackupNeeded ? 'cloud-upload-outline' : 'checkmark-circle-outline'"></ion-icon>
            {{ isBackupNeeded ? 'Backup needed' : 'Synced' }}
          </span>
        </div>
        }
      </div>

      <ion-button class="m-2" color="danger" expand="block" (click)="logOutUser()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Sign out
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- Automatic backup Card + Manual Cloud Sync -->
  <ion-card color="medium" class="my-3">
    <ion-item button color="light" lines="none" class="rounded-3 shadow-sm">
      <ion-toggle [(ngModel)]="autoBackupEnabled" (ionChange)="onAutoBackupToggle()">
        <ion-label>Automatic backup</ion-label>
        <ion-note>Back up your data to the cloud</ion-note>
      </ion-toggle>
    </ion-item>

    <ion-item lines="none" color="light" *ngIf="autoBackupEnabled" class="border-top">
      <ion-label class="text-muted" style="font-size: 0.9rem;">
        Backup Frequency
      </ion-label>
      <ion-select slot="end" [(ngModel)]="backupInterval" interface="popover" (ionChange)="onBackupIntervalChange()">
        <ion-select-option value="1">Every day</ion-select-option>
        <ion-select-option value="7">Every week</ion-select-option>
        <ion-select-option value="30">Every month</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Manual Cloud Sync -->
    <ion-accordion-group class="m-0">
      <div class="mt-2">
        <ion-accordion value="manual-cloud-sync" class="bg-transparent shadow-none">

          <ion-item button slot="header" class="rounded shadow-sm" color="light" lines="none">
            <ion-icon name="cloud-outline" slot="start" class="me-2 text-primary" size="small"
              color="dark"></ion-icon>
            <ion-label>Manual Cloud Sync</ion-label>
          </ion-item>

          <div slot="content" class="p-1">
            <ion-item color="light" class="px-0 rounded" lines="none">
              <ion-select justify="space-between" interface="popover" label="Mode" placeholder="Merge"
                [(ngModel)]="cloudSyncType">

                <ion-select-option value="soft">Merge</ion-select-option>
                <ion-select-option value="hard">Overwrite</ion-select-option>

              </ion-select>
            </ion-item>

            <small *ngIf="cloudSyncType === 'hard'" class="text-warning text-center d-block">
              <ion-icon name="warning-outline" class="me-1"></ion-icon>
              Warning: This will replace data in the destination.<br>
              (Cloud for Backup, local for Restore)
            </small>

            <div class="d-flex gap-2 mt-1">

              <ion-button class="flex-fill" (click)="uploadToCloud(cloudSyncType === 'soft')">
                <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
                Backup
              </ion-button>

              <ion-button class="flex-fill" (click)="loadCloudData(cloudSyncType === 'soft')">
                <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
                Restore
              </ion-button>

            </div>

          </div>
        </ion-accordion>
      </div>
    </ion-accordion-group>

  </ion-card>

  }
  @else {
  <ion-card color="light" class="rounded shadow-sm">
    <ion-card-content>

      <ion-item color="light">
        <ion-icon name="cloud-outline" color="primary" size="large" slot="start"></ion-icon>
        <ion-label>
          <h2>Secure cloud backup</h2>
          <p>Sign in with Google to sync your data and keep your records safe.</p>
        </ion-label>
      </ion-item>

      <ion-button expand="block" color="primary" fill="solid" class="rounded-pill mx-2 mb-2"
        (click)="signInWithGoogle()" [disabled]="loadingData">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Continue with Google
      </ion-button>
    </ion-card-content>
  </ion-card>
  }
}
