<ion-accordion-group class="my-3 p-0">
  <ion-accordion value="faq" class="bg-transparent shadow-none" [attr.data-bs-theme]="theme">
    <ion-item button slot="header" class="rounded" color="light" lines="none">
      <ion-icon name="help-outline" slot="start" color="dark"></ion-icon>
      <ion-label class="fw-semibold">Frequently Asked Questions</ion-label>
    </ion-item>

    <div slot="content" class="p-2 bg-medium-tint">
      <!-- Group FAQs by category -->
      <ng-container *ngFor="let category of getCategories()">
        <div class="m-1">
          <h6 class="text-muted small text-uppercase fw-bold my-3">{{ category }}</h6>

          <ion-accordion-group>
            <ng-container *ngFor="let item of faqItems; let i = index">
              <div *ngIf="item.category === category" class="mt-3">
                <ion-accordion [value]="item.id" class="p-0 rounded">

                  <ion-item button slot="header" class="rounded shadow-sm" color="light">
                    <ion-label class="fw-bolder">{{ item.question }}</ion-label>
                  </ion-item>

                  <div slot="content" class="px-3 py-2 mt-2 text-muted bgLight rounded" [innerHTML]="item.answer">
                  </div>
                </ion-accordion>
              </div>
            </ng-container>
          </ion-accordion-group>
        </div>
      </ng-container>
    </div>

  </ion-accordion>
</ion-accordion-group>