<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showClearLogsAlert()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if(logData?.length == 0){
  <div class="d-flex flex-column align-items-center justify-content-center h-100 text-muted text-center"
    [attr.data-bs-theme]="theme">
    <ion-icon name="journal-outline" class="mb-3" style="font-size: 4rem"></ion-icon>
    <h4>No logs found</h4>
  </div>
  }

  <div class="container" [attr.data-bs-theme]="theme">

    @for (group of logDataGroup; track $index) {
    <!-- Group header -->
    <div class="sticky-group-header">
      <ion-item button color="light" class="rounded-3 my-2" (click)="toggleGroup(group.modifiedOn)">
        <ion-label>{{ group.modifiedOn | date : 'MMMM dd, yyyy'}}</ion-label>
        <ion-icon slot="end" [name]="expandedGroups[group.modifiedOn] ? 'chevron-up' : 'chevron-down'">
        </ion-icon>
      </ion-item>
    </div>

    <!-- Collapsible content -->
    @if(expandedGroups[group.modifiedOn]){

    @for (log of group.logs; track $index) {
    <ion-card color="light" class="mb-2 rounded-3">
      <ion-card-content>

        <!-- New / Delete block -->
        @if(['new','delete'].includes(log.operation)) {
        <div class="d-flex">
          <!-- Left section -->
          <div class="flex-grow-1">
            <span class="fw-semibold fs-6">{{log.data.name}}</span> <br>
            <span class="text-muted">
              {{log.data.interest}}
              <span class="mx-1">•</span>
              {{log.data.startDate}}
            </span> <br>

            @if(log.data.comments){
            <span class="small mt-1 text-muted" style="white-space: pre-line;">{{ log.data.comments }}</span> <br>
            }

            @if (log.data.closedAmount > 0 && log.data.closedOn) {
            <span class="mt-1 text-success">
              {{ log.data.closedOn }} • {{ log.data.closedAmount | currency:'INR':'symbol':'1.0-0':'en-IN' }}
            </span>
            }
          </div>

          <!-- Right section -->
          <div class="text-end">
            <ion-badge [color]="getStatusColor(log.operation)">{{log.operation}}</ion-badge>

            <div class="fw-bold fs-5">
              {{ log.data.principal | currency:'INR':'symbol':'1.0-0':'en-IN' }}
            </div>

          </div>
        </div>
        }

        <!-- Edit / Edit -Approve block -->
        @if(['edit','edit - approve'].includes(log.operation)) {
        <div class="d-flex">
          <!-- Left section -->
          <div class="flex-grow-1">
            <span class="fw-semibold fs-6">{{log.orgData.name}}</span> <br>
            <span class="text-muted">

              @if(log.orgData.interest !== log.newData.interest){
              <del>{{log.orgData.interest}}</del> &#x2192;
              <span>{{log.newData.interest}}</span> <br>
              }
              @else {
              <span>{{log.newData.interest}}</span> •
              }

              @if(log.orgData.startDate !== log.newData.startDate){
              <del>{{log.orgData.startDate}}</del> &#x2192;
              }
              <span>{{log.newData.startDate}}</span> <br>
            </span>

            @if(log.orgData.comments !== log.newData.comments){
            <span class="small mt-1 text-muted" style="white-space: pre-line;">
              <del>{{ log.orgData.comments }}</del> <br>
              {{ log.newData.comments }}<br>
            </span>
            }

            @if ((log.orgData.closedOn || log.newData.closedOn) && log.orgData.closedOn !== log.newData.closedOn) {
            <div class="mt-1 text-success">
              <del>{{ log.orgData.closedOn }}</del>
              {{ log.newData.closedOn }}

              @if (log.orgData.closedOn == log.newData.closedOn) {
              <span class="mx-1">•</span>
              }
              <br>

              <del>{{ log.orgData.closedAmount }}</del>
              <span class="strong">
                {{ log.newData.closedAmount | currency:'INR':'symbol':'1.0-0':'en-IN' }}
              </span>
            </div>
            }
          </div>

          <!-- Right section -->
          <div class="text-end ms-3">
            <ion-badge [color]="getStatusColor(log.operation)" class="mb-2">{{log.operation}}</ion-badge>

            <div class="fw-bold fs-5">

              @if (log.orgData.principal !== log.newData.principal) {
              <del>
                {{ log.orgData.principal }}<br>
              </del>
              }

              {{ log.newData.principal | currency:'INR':'symbol':'1.0-0':'en-IN' }}

            </div>
          </div>
        </div>

        }

        <!-- Bulk approve / delete section -->
        @if(['bulk approve','bulk new','bulk delete'].includes(log.operation)) {
        <div class="d-flex">
          <!-- Left section -->
          <div class="flex-grow-1">
            <span class="fw-semibold fs-6">{{log.bulkData.name}}</span> <br>

            @for (record of log.bulkData.data; track $index) {
            <div class="text-muted">
              {{ record.principal }}
              <span class="mx-1">•</span>
              {{ record.interest }}
              <span class="mx-1">•</span>
              {{ record.startDate }}
            </div>
            }

            @for (record of log.bulkData.data; track $index) {
            <span class="text-success mt-1 fw-bold">
              @let amount = log.operation == 'bulk approve' ? record.closedAmount : record.principal;
              {{ $first ? '' : amount >= 0 ? ' + ' : ' - ' }}
              {{ amount > 0 ? (amount).toFixed() : (-1 * amount).toFixed() }}
            </span>
            }

            @if(log.operation == 'bulk delete'){
            <br>
            <small class="text-muted" style="white-space: pre-line">
              @for (record of log.bulkData.data; track $index) {
              {{ record.comments ? record.comments + `\n` : '' }}
              }
            </small>
            }
          </div>

          <!-- Right section -->
          <div class="text-end ms-3">
            <ion-badge [color]="getStatusColor(log.operation)" class="mb-2">{{log.operation}}</ion-badge>

            <div class="fw-bold fs-5">
              {{ getBulkAmount(log.bulkData.data, log.operation) | currency:'INR':'symbol':'1.0-0':'en-IN' }}
            </div>

          </div>
        </div>
        }

      </ion-card-content>

    </ion-card>
    }
    }
    }

  </div>
</ion-content>