<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{client?.name}}</ion-title>
    <ion-progress-bar
      [hidden]="hideSkeletonText"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mx-2 mt-1">
    <div class="bgLight p-2 rounded text-center">Present Transactions</div>

    <ion-accordion-group class="mb-2 mt-1 text-center d-flex flex-wrap justify-content-center">
      <div
        *ngFor="let data of client?.data; let i=index;"
        class="m-1 listItem text-start"
      >
        <ion-accordion [value]="i">
          <ion-item slot="header" class="rounded" color="light">
            <ion-label class="d-flex ms-2" [color]="getColor(data)">
              <span class="fw-bolder">₹ {{ isd.format(data?.principal) }}</span>
              <span class="ms-auto fw-bolder"
                >{{data?.startDate.split('-').reverse().join('/')}}</span
              ></ion-label
            >
          </ion-item>
          <ion-list slot="content" lines="none" class="rounded mx-auto">
            <div class="bgLight mx-2 ps-2 rounded py-1 mt-1 fw-bolder">
              <ion-grid>
                <ion-row>
                  <ion-col size="5">Principal</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">₹ {{isd.format(data?.principal)}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">Interest</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">{{data?.interest}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">Start date</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    {{data?.startDate.split('-').reverse().join('/')}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">End date</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    {{today.split('-').reverse().join('/')}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="bgLight m-2 rounded ps-2 py-1 fw-bolder">
              <ion-grid>
                <ion-row>
                  <ion-col size="5">Time period</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    {{calculateDateDifference(data?.startDate,today)}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">in months</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5"
                    >{{totalTimeinMonths(data?.startDate,today)}}m</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col size="5">Interest amt</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    ₹ {{isd.format(calculateInterest(data, today))}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">Total amt</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    ₹ {{isd.format(data?.principal +
                    calculateInterest(data,today))}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div *ngIf="data?.comments" class="bgLight p-2 rounded mx-2">
              <small class="fw-bolder d-block">Comments : </small>
              <small style="white-space: pre-line">{{data?.comments}}</small>
            </div>

            <div
              *ngIf="data?.closedOn"
              class="bgLight m-2 rounded ps-2 py-1 fw-bolder border-success border-3 border"
            >
              <ion-grid>
                <ion-row>
                  <ion-col size="5">Closed on</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    {{data?.closedOn.split('-').reverse().join('/')}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">Paid amt</ion-col>
                  <ion-col size="2">:</ion-col>
                  <ion-col size="5">
                    ₹ {{isd.format(data?.closedAmount)}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div
              *ngIf="totalTimeinMonths(data?.startDate,today)>36"
              class="d-flex m-2 p-1 justify-content-around align-items-center bgWarning rounded"
            >
              <ion-icon name="alert" size="large" slot="start"></ion-icon>
              <div>
                Interest calculated for 3 years only.<br />
                Please use calculate option.
              </div>
            </div>

            <div class="bgLight rounded m-2">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button
                      color="primary"
                      expand="block"
                      (click)="editClientData(data?.id)"
                      >Edit</ion-button
                    >
                  </ion-col>
                  <ion-col>
                    <ion-button
                      color="warning"
                      expand="block"
                      (click)="openCalculator(data?.id)"
                      >Calculate</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button
                      color="success"
                      expand="block"
                      [id]="'approveScreen'+i"
                      (click)="approveData(data)"
                      [disabled]="data?.closedOn"
                      >Approve</ion-button
                    >
                  </ion-col>
                  <ion-col>
                    <ion-button
                      color="danger"
                      expand="block"
                      (click)="deleteData(data?.id)"
                      >Delete</ion-button
                    >
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-list>
        </ion-accordion>

        <ion-modal
          #modal
          [trigger]="'approveScreen'+i"
          [initialBreakpoint]="0.5"
          [breakpoints]="[0, 0.5, 0.75, 1]"
        >
          <ng-template>
            <ion-content>
              <form
                #formRef="ngForm"
                (ngSubmit)="onSubmit(formRef)"
                (keypress)="stopDefaultSubmit($event)"
              >
                <div class="rounded bgLight m-2 p-2">
                  <div class="fw-bolder my-1 px-1">Enter closed details</div>

                  <div class="form-floating mb-2">
                    <input
                      type="date"
                      class="form-control darkInput"
                      id="closedOn"
                      [ngModel]="today"
                      (change)="calculateClosedDetails($event,data)"
                      #closedOn="ngModel"
                      name="closedOn"
                      required
                      [class.is-valid]="closedOn.valid"
                      [class.is-invalid]="closedOn.invalid &&  formRef.submitted"
                    />
                    <label for="closedOn">On</label>
                    <div id="closedOn" class="invalid-feedback">
                      Please enter On-date.
                    </div>
                  </div>
                  <div class="form-floating">
                    <input
                      type="number"
                      class="form-control darkInput"
                      id="closedAmount"
                      [ngModel]="(data?.principal + calculateInterest(data,today)).toFixed(2)"
                      name="closedAmount"
                      (input)="calculateClosedDetails($event,data,closedOn)"
                      #closedAmount="ngModel"
                      required
                      [class.is-valid]="closedAmount.valid"
                      [class.is-invalid]="closedAmount.invalid &&  formRef.submitted"
                    />
                    <label for="closedAmount">Amount</label>
                    <div id="closedAmount" class="invalid-feedback">
                      Please enter Amount.
                    </div>
                    <div [hidden]="approvedAmount===0" class="amtIndicator">
                      *Required amount is ₹ {{isd.format(approvedAmount)}}
                    </div>
                  </div>

                  <div
                    class="form-check form-switch"
                    [hidden]="hideAppprovedControls"
                  >
                    <label class="form-check-label" for="updateComments">
                      Auto update comments
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="updateComments"
                      name="updateComments"
                      [ngModel]="true"
                      ngModel
                    />
                  </div>

                  <div
                    class="form-check form-switch m-1"
                    [hidden]="hideAppprovedControls"
                  >
                    <label class="form-check-label" for="closeCurrentRecord">
                      Close current record
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="closeCurrentRecord"
                      name="closeCurrentRecord"
                      [ngModel]="false"
                      #closeCurrentRecord="ngModel"
                    />
                  </div>

                  <div
                    class="form-check form-switch m-1"
                    [hidden]="hideAppprovedControls"
                  >
                    <label class="form-check-label" for="addNewRecord">
                      Add new record with remaining balance
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="addNewRecord"
                      name="addNewRecord"
                      [ngModel]="false"
                      ngModel
                      [disabled]="!closeCurrentRecord.value"
                    />
                  </div>
                </div>

                <ion-button
                  class="m-2"
                  type="submit"
                  color="success"
                  [disabled]="data?.closedOn"
                  (click)="formRef.valid && modal.dismiss()"
                  expand="block"
                >
                  close record
                </ion-button>
                <ion-button
                  class="m-2"
                  color="warning"
                  (click)="modal.dismiss()"
                  expand="block"
                >
                  Cancel
                </ion-button>
              </form>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-accordion-group>

    <ion-item
      color="light"
      class="rounded text-center mb-2"
      routerLink="/clida/clients-list/add-client"
      [queryParams]="{name:client?.name}"
      ><ion-label class="text-danger fw-bolder"> + Add new record </ion-label>
    </ion-item>
  </div>
</ion-content>
