<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{client?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mx-2 mt-1">
    <ion-accordion toggle-icon="none" readonly="true">
      <ion-item slot="header" color="primary" class="rounded-1">
        <ion-label class="d-flex ms-2">
          <span class="fw-bolder">Principal</span>
          <span class="ms-auto fw-bolder">Start date</span>
        </ion-label>
      </ion-item>
    </ion-accordion>
    <ion-accordion-group class="mb-2">
      <div *ngFor="let data of client?.data; let i=index;" class="mt-2">
        <ion-accordion [value]="i">
          <ion-item slot="header" [color]="getColor(data)" class="rounded-3">
            <ion-label class="d-flex ms-2">
              <span class="fw-bolder">₹ {{ isd.format(data?.principal) }}</span>
              <span class="ms-auto fw-bolder"
                >{{data?.startDate.split('-').reverse().join('/')}}</span
              ></ion-label
            >
          </ion-item>

          <ion-list slot="content" class="rounded-3">
            <div class="bgLight p-2 rounded-3 mt-0">
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Principal</div>
                <div class="col-1">:</div>
                <div class="col-6">₹ {{isd.format(data?.principal)}}</div>
              </div>
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Interest</div>
                <div class="col-1">:</div>
                <div class="col-6">{{data?.interest}}</div>
              </div>
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Start Date</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  {{data?.startDate.split('-').reverse().join('/')}}
                </div>
              </div>
              <div class="d-flex justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">End Date</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  {{today.split('-').reverse().join('/')}}
                </div>
              </div>
            </div>

            <div class="bgLight p-2 rounded-3 mt-2">
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Time Period</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  {{calculateDateDifference(data?.startDate,today)}}
                </div>
              </div>

              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">in months</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  {{totalTimeinMonths(data?.startDate,today).toFixed(2)}}m
                </div>
              </div>
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Interest Amt</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  ₹ {{isd.format(calculateInterest(data))}}
                </div>
              </div>
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Total Amt</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  ₹ {{isd.format(data?.principal + calculateInterest(data))}}
                </div>
              </div>
            </div>

            <div
              *ngIf="data?.comments"
              class="text-muted rounded-3 px-3 py-1 mt-2 bgLight"
            >
              <small class="fw-bolder">Comments: </small>
              <small>{{data?.comments}}</small>
            </div>

            <div
              *ngIf="data?.closedOn"
              class="bgLight py-2 rounded-3 mt-2 border-success border-3 border"
            >
              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Closed on</div>
                <div class="col-1">:</div>
                <div class="col-6">
                  {{data?.closedOn.split('-').reverse().join('/')}}
                </div>
              </div>

              <div class="d-flex mb-1 justify-content-between fw-bolder fs-6">
                <div class="col-1"></div>
                <div class="col-4">Paid Amt</div>
                <div class="col-1">:</div>
                <div class="col-6">₹ {{isd.format(data?.closedAmount)}}</div>
              </div>
            </div>

            <div
              *ngIf="totalTimeinMonths(data?.startDate,today)>36"
              class="d-flex mt-2 p-2 justify-content-around align-items-center bg-warning rounded-3"
            >
              <ion-icon
                name="alert-circle-outline"
                size="large"
                slot="start"
              ></ion-icon>
              <div>
                Interest calculated for 3 years only.<br />
                Please use calculate option.
              </div>
            </div>

            <div
              *ngIf="showCloseDiv"
              class="my-2 px-2 py-1 border rounded-3 bgLight"
            >
              <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
                <div class="fw-bolder mx-1 mb-1">Enter closed details</div>
                <div class="d-flex">
                  <div class="form-floating mb-2">
                    <input
                      type="date"
                      class="form-control"
                      id="closedOn"
                      [ngModel]="today"
                      #closedOn="ngModel"
                      name="closedOn"
                      required
                      [class.is-valid]="closedOn.valid"
                      [class.is-invalid]="closedOn.invalid &&  formRef.submitted"
                    />
                    <label for="closedOn">On</label>
                    <div id="closedOn" class="invalid-feedback">
                      Please enter On-date.
                    </div>
                  </div>

                  <div class="form-floating mb-2 w-100">
                    <input
                      type="number"
                      class="form-control"
                      id="closedAmount"
                      [ngModel]="(data?.principal + calculateInterest(data))"
                      name="closedAmount"
                      #closedAmount="ngModel"
                      required
                      [class.is-valid]="closedAmount.valid"
                      [class.is-invalid]="closedAmount.invalid &&  formRef.submitted"
                    />
                    <label for="closedAmount">Amount</label>
                    <div id="closedAmount" class="invalid-feedback">
                      Please enter Amount.
                    </div>
                  </div>
                </div>
                <div class="d-grid gap-2 mb-1">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="data?.closedOn"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>

            <div class="bgLight rounded-3 py-2 px-1 mt-2">
              <div class="d-flex">
                <div class="col mx-1">
                  <button
                    class="btn btn-primary block w-100"
                    (click)="editClientData(data?.id)"
                  >
                    Edit
                  </button>
                </div>
                <div class="col mx-1">
                  <button
                    class="btn btn-warning w-100"
                    (click)="openCalculator(data?.id)"
                  >
                    Calculate
                  </button>
                </div>
              </div>

              <div class="d-flex mt-2">
                <div class="col mx-1">
                  <button
                    class="btn btn-success w-100"
                    (click)="approveData(data?.id)"
                    [disabled]="data?.closedOn"
                  >
                    Approve
                  </button>
                </div>
                <div class="col mx-1">
                  <button
                    class="btn btn-danger w-100"
                    (click)="deleteData(data?.id)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ion-list>
        </ion-accordion>
      </div>
    </ion-accordion-group>

    <ion-item
      color="light"
      class="rounded-3 text-center mb-2"
      routerLink="/clida/clients-list/add-client"
      ><ion-label class="text-danger fw-bolder"
        >+ Add new record</ion-label
      ></ion-item
    >
  </div>
</ion-content>
