<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{client?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleLayout()">
        <ion-icon slot="icon-only" name="repeat"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="!hideSkeletonText" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dis-small">
    <div class="bgLight p-2 rounded text-center mx-2 mt-3" *ngIf="isOldStyle">
      Current transactions
    </div>


    <div class="d-flex flex-column gap-2 mx-2 mt-2" *ngIf="!isOldStyle">
      <div class="d-flex align-items-center justify-content-between">
        <span class="fw-semibold">Transactions:</span>
        <div class="d-flex gap-2">
          <ion-chip class="active-chip m-0">
            Active : {{transactions.active}}
          </ion-chip>
          <ion-chip class="closed-chip m-0">
            Closed : {{transactions.closed}}
          </ion-chip>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between">
        <ion-chip class="total-chip fw-semibold m-0" (click)="toggleTotalChips()">
          Total: ₹ {{isd.format(totalAmount)}}
        </ion-chip>

        <ion-button color="danger" shape="round" size="small" class="add-button" routerLink="/clients-list/add-client"
          [queryParams]="{name:client?.name}">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          New transaction
        </ion-button>
      </div>
    </div>

    <ion-accordion-group class="m-2 text-center d-flex flex-wrap justify-content-evenly"
      (ionChange)="accordionGroupChange($event)">
      @for (data of client?.data; let i = $index; track data.id) {
      <div class="my-1 listItem  text-start">
        <ion-accordion [value]="i">
          <ion-item button slot="header" class="rounded" color="light">
            <ion-checkbox class="check-pad" slot="start" [checked]="isChipSelected(data?.id)"
              (ionChange)="onCheckBoxClick($event, data)" (click)="$event.stopPropagation()"
              [attr.data-bs-theme]="theme">
            </ion-checkbox>

            @if (isOldStyle) {
            <ion-label class="d-flex justify-content-between align-items-center fw-bolder" [color]="getColor(data)">
              <span>₹ {{ isd.format(data?.principal) }}</span>
              <span class="ms-auto">{{ data?.startDate | date:'dd/MM/yyyy' }}</span>
            </ion-label>
            } @else {
            <ion-label class="d-flex justify-content-between align-items-center fw-bolder">
              <span>₹ {{ isd.format(data?.principal) }}</span>
              <ion-badge class="rounded-pill px-2 py-1" [color]="getColor(data)">
                {{ data?.startDate | date:'dd MMM yy' }}
              </ion-badge>
            </ion-label>
            }

          </ion-item>

          <ion-list slot="content" lines="none" class="rounded mx-auto">
            <app-client-data-view [data]="data" [client]="client" [index]="
              i" (cleanUp)="accordionCleanUp()"></app-client-data-view>
          </ion-list>
        </ion-accordion>
      </div>
      }
    </ion-accordion-group>

    <ion-item *ngIf="isOldStyle" color="light" class="rounded text-center m-2" routerLink="/clients-list/add-client"
      [queryParams]="{name:client?.name}"><ion-label class="text-danger fw-bolder"> + Add new record </ion-label>
    </ion-item>

    <div class="text-center fw-semibold" *ngIf="isOldStyle">
      <ion-chip (click)="toggleTotalChips()">
        Total amount: ₹ {{isd.format(totalAmount)}}
      </ion-chip>
    </div>

    <app-summary-table [selectedChips]="selectedChips"></app-summary-table>
  </div>

  <div class="dis-large">
    <!-- Header -->
    <div class="mx-2 my-2 d-flex align-items-center gap-2" *ngIf="!isOldStyle">
      <div>
        <span class="fw-semibold">
          Transactions:
          <ion-chip class="active-chip my-0 me-2 ms-0">Active : {{transactions.active}}</ion-chip>
          <ion-chip class="closed-chip m-0">Closed : {{transactions.closed}}</ion-chip>
        </span>
      </div>

      <ion-chip class="total-chip fw-semibold ms-auto me-0 my-0" (click)="toggleTotalChips()">
        Total: ₹ {{isd.format(totalAmount)}}
      </ion-chip>

      <ion-button color="danger" size="small" shape="round" routerLink="/clients-list/add-client"
        [queryParams]="{name:client?.name}" class="add-button">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        New transaction
      </ion-button>
    </div>

    <div class="d-flex" style="flex: 1; overflow: hidden">
      <!-- side menu content-->
      <div style="min-width: 325px; overflow-y: auto; height: 100%">
        <div *ngIf="isOldStyle" class="bgLight p-2 rounded text-center mx-2 mt-3 sticky-top">
          Current transactions
        </div>

        @for (data of client?.data; let i = $index; track data.id) {
        <ion-item button class="rounded m-2" [ngClass]="{'selected': i === +openedAccordion}" color="light"
          (click)="selectRecord(i)">
          <ion-checkbox class="check-pad" slot="start" [checked]="isChipSelected(data?.id)"
            (ionChange)="onCheckBoxClick($event, data)" (click)="$event.stopPropagation()" color="primary">
          </ion-checkbox>

          @if (isOldStyle) {
          <ion-label class="d-flex justify-content-between align-items-center fw-bolder" [color]="getColor(data)">
            <span>₹ {{ isd.format(data?.principal) }}</span>
            <span>{{ data?.startDate | date:'dd/MM/yyyy' }}</span>
          </ion-label>
          } @else {
          <ion-label class="d-flex justify-content-between align-items-center fw-bolder">
            <span>₹ {{ isd.format(data?.principal) }}</span>
            <ion-badge class="rounded-pill px-2 py-1" [color]="getColor(data)">
              {{ data?.startDate | date:'dd MMM yy' }}
            </ion-badge>
          </ion-label>
          }
        </ion-item>
        }

        <ion-item *ngIf="isOldStyle" color="light" class="rounded text-center m-2" routerLink="/clients-list/add-client"
          [queryParams]="{name:client?.name}"><ion-label class="text-danger fw-bolder">
            + Add new record
          </ion-label>
        </ion-item>

        <div class="text-center mb-3 fw-semibold" *ngIf="isOldStyle">
          <ion-chip (click)="toggleTotalChips()">
            Total amount: ₹ {{isd.format(totalAmount)}}
          </ion-chip>
        </div>
      </div>

      <!-- Main content -->
      <div class="w-100" style="overflow-y: auto; height: 100%">

        <div class="my-1 p-1" *ngIf="isOldStyle"></div>

        @if (openedAccordion != undefined) {
        <div class="rounded mx-auto mb-3 mt-2">
          <app-client-data-view [data]="client?.data[openedAccordion]" [client]="client" index="large"
            (cleanUp)="accordionCleanUp()"></app-client-data-view>
        </div>
        } @else {
        <div class="text-center text-muted mt-5 opacity-50" [attr.data-bs-theme]="theme">
          <ion-icon name="documents-outline" style="font-size: 64px;"></ion-icon>
          <p class="mt-2">Select a transaction to view details</p>
        </div>
        }

        <!-- Chips result info -->
        <app-summary-table [selectedChips]="selectedChips"></app-summary-table>
      </div>
    </div>
  </div>
</ion-content>