<div class="container ion-margin" #creditDebitList>
  <ion-card color="light" class="rounded mx-0 my-3">
    <ion-item color="light">
      <ion-label class="text-center text-grad fs-5" id="animated-title">Clients Management Made Easy!</ion-label>
    </ion-item>

    <div class="fs-6 px-3 mb-2 mt-1 pb-1">
      💼 Simplify client management <br />
      📊 Real-time dashboard insights <br />
      🧮 Interest calculators (simple & compound) <br />
      🔄 Data backup & restore (Excel/Json) <br />
      🎨 Customizable themes <br />
      📱 Mobile-optimized <br />
      🚀 Boost operational efficiency
    </div>
  </ion-card>

  <ion-card color="light" class="rounded mx-0 my-3">
  <ion-item color="light">
    <ion-label class="fs-5" id="animated-title">Quick Start Guide</ion-label>
  </ion-item>

  <div>
    <ion-item color="light" class="">
      <ion-button slot="end" routerLink="/clients-list/add-client" color="danger">
        <span class="p-1"><ion-icon name="person-add-outline" size="large"></ion-icon></span>
      </ion-button>
      <ion-label class="justifyText">
        <b>Add a Client:</b> Click the <ion-icon name="person-add-outline"></ion-icon> button. You can also use the floating add button at the bottom right.
      </ion-label>
    </ion-item>

    <ion-item color="light" class="">
      <ion-button slot="end" routerLink="/about" color="primary">
        <span class="p-1"><ion-icon name="sync-outline" size="large"></ion-icon></span>
      </ion-button>
      <ion-label class="justifyText">
        <b>Restore Data:</b> Click the <ion-icon name="sync-outline"></ion-icon> button to restore from a backup file.
      </ion-label>
    </ion-item>

    <ion-item color="light" class="">
      <ion-button slot="end" (click)="loadSampleData()" color="success">
        <span class="p-1"><ion-icon name="bulb-outline" size="large"></ion-icon></span>
      </ion-button>
      <ion-label class="justifyText">
        <b>Try Sample Data:</b> Click the <ion-icon name="bulb-outline"></ion-icon> button to explore with preloaded data.
      </ion-label>
    </ion-item>
  </div>
</ion-card>

  <div class="d-flex mt-3 bgLight align-items-center rounded-3 bg-warning">
    <div class="fs-1 px-3 py-2 text-dark">!</div>
    <div class="justifyText bgLight px-3 py-2 rounded-end" style="flex: 1">
      This app uses local storage to save your data, which may be lost if you clear your browser's data.
      <br />
      <i>
        Regularly back up your data or sign in with your Google account to securely store it in the cloud.
      </i>
    </div>
  </div>
</div>