<div class="container ion-margin" #creditDebitList>
  <ion-card color="light" class="rounded mx-0 my-3">
    <ion-card-header>
      <ion-card-title class="text-grad text-center px-2"> Clients Management Made Easy! </ion-card-title>
    </ion-card-header>

    <ion-card-content class="fs-6" style="line-height: 1.8;">
      💼 Simplify client management <br />
      📊 Real-time dashboard insights <br />
      🧮 Interest calculators (simple & compound) <br />
      🔄 Data backup & restore (Excel/Json) <br />
      🎨 Customizable themes <br />
      📱 Mobile-optimized <br />
      🚀 Boost operational efficiency
    </ion-card-content>
  </ion-card>

  <ion-card color="light" class="rounded mx-0 my-3">
    <ion-card-title class="p-2 my-1">
      <ion-icon name="flash-outline" class="text-primary"></ion-icon>
      Quick Start Guide
    </ion-card-title>

    <!-- Add Client -->
    <ion-item color="light" button detail routerLink="/clients-list/add-client">
      <ion-icon name="person-add-outline" slot="start" class="text-danger fs-4"></ion-icon>
      <ion-label>
        <h2 class="fw-semibold mb-1">Add Client</h2>
        <p class="text-muted small mb-0" [attr.data-bs-theme]="theme">Add new clients in seconds.</p>
      </ion-label>
    </ion-item>

    <!-- Restore Data -->
    <ion-item color="light" button detail routerLink="/about">
      <ion-icon name="sync-outline" slot="start" class="text-primary fs-4"></ion-icon>
      <ion-label>
        <h2 class="fw-semibold mb-1">Restore Backup</h2>
        <p class="text-muted small mb-0" [attr.data-bs-theme]="theme">Bring back your saved data.</p>
      </ion-label>
    </ion-item>

    <!-- Try Demo Data -->
    <ion-item color="light" button detail (click)="loadSampleData()">
      <ion-icon name="bulb-outline" slot="start" class="text-success fs-4"></ion-icon>
      <ion-label>
        <h2 class="fw-semibold mb-1">Try Demo Data</h2>
        <p class="text-muted small mb-0" [attr.data-bs-theme]="theme">Preview with preloaded examples.</p>
      </ion-label>
    </ion-item>
  </ion-card>


  <div class="d-flex mt-3 bgLight align-items-center rounded-3 bg-warning">
    <div class="px-3 py-2 text-dark" style="font-size: 200%;">!</div>
    <div class="justifyText bgLight px-3 py-2 rounded-end " style="flex: 1">
      <strong>📱 Offline-Focused App</strong>
      <br>
      This app stores your data locally in your browser for offline access.
      <br />
      Please sign in and turn on <strong>Auto Backup</strong> to prevent any accidental data loss.
      <br />
      On a new device? Refer to the <strong>FAQ</strong> section below to learn how to restore your data from the cloud.
    </div>
  </div>

  <!-- FAQ Section -->
  <app-faq [theme]="theme"></app-faq>

</div>