ion-content {
  --ion-background-color: var(--ion-color-medium);
}

.bgLight {
  background-color: var(--ion-color-light);
}

ion-col {
  --ion-grid-column-padding: 2px;
}

ion-card {
  margin: 10px 0;
}

.scrollable-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  text-align: center;
}

.chart {
  flex-shrink: 0;
  white-space: nowrap;
}
