<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="primary" class="mx-2">
      <ion-button (click)="scrollToElement(chart1)">
        <ion-icon name="stats-chart-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToElement(chart2)">
        <ion-icon name="pie-chart-sharp"></ion-icon>
      </ion-button>
      <ion-button routerLink="adv-search">
        <ion-icon name="color-wand-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar
      [hidden]="hideSkeletonText"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="my-2 p-1 bgLight rounded">
      <ion-grid>
        <ion-row>
          <ion-col size="6">Number of clients</ion-col>
          <ion-col>:</ion-col>
          <ion-col size="5">{{totalClients?.length}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Total principal</ion-col>
          <ion-col>:</ion-col>
          <ion-col size="5">
            ₹ {{isd.format(getTotalPrincipalAmount())}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="6">Final amount</ion-col>
          <ion-col>:</ion-col>
          <ion-col size="5"> ₹ {{(isd.format(getFinalAmount()))}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div
    class="d-flex overflow-auto justify-content-lg-around align-items-center"
  >
    <div #chart1>
      <app-line-chart [responseData]="totalClients"></app-line-chart>
    </div>
    <div #chart2>
      <app-pie-chart [responseData]="totalArray"></app-pie-chart>
    </div>
  </div>

  <div class="container">
    <ion-card color="light">
      <ion-item color="success" class="text-center">
        Sorting by time
        <ion-icon
          [name]="timeGridIcon"
          slot="end"
          (click)="sortTimeGridChange()"
        ></ion-icon>
      </ion-item>
      <span
        *ngFor="let client of array2 | paginate: { itemsPerPage: 4, currentPage: grid1Page, id:'grid1'}; trackBy:trackData"
      >
        <ion-item [routerLink]="'client-details/' + client.key" color="light">
          <ion-label>{{client.name}}</ion-label>
          <ion-label slot="end" class="fw-bolder">
            {{math.trunc((client.greaterTimePeriod)/12) + "Y " +
            math.trunc(client.greaterTimePeriod%12)+ "M"}}</ion-label
          >
        </ion-item>
      </span>
      <pagination-controls
        class="text-end"
        (pageChange)="grid1Page = $event"
        id="grid1"
        [responsive]="true"
        [autoHide]="true"
      ></pagination-controls>
    </ion-card>

    <ion-card color="light">
      <ion-item color="success" class="text-center"
        >Sorting by principal
        <ion-icon
          [name]="principalGridIcon"
          slot="end"
          (click)="sortPrincipalGridChange()"
        ></ion-icon
      ></ion-item>
      <span
        *ngFor="let client of array1 | paginate: { itemsPerPage: 4, currentPage: grid2Page, id:'grid2'}; trackBy:trackData"
      >
        <ion-item [routerLink]="'client-details/' + client.key" color="light">
          <ion-label class="ion-text-wrap">{{client.name}}</ion-label>
          <ion-label slot="end" class="fw-bolder">
            ₹{{isd.format(client.totalPrincipal)}}</ion-label
          >
        </ion-item>
      </span>
      <pagination-controls
        class="text-end"
        (pageChange)="grid2Page = $event"
        id="grid2"
        [responsive]="true"
        [autoHide]="true"
      ></pagination-controls>
    </ion-card>
  </div>
</ion-content>
