<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rounded-3 p-2 m-2 ionBgLight">
    <div class="d-flex px-2 py-1">
      <div class="me-2">Number of Clients:</div>
      <div class="ms-auto me-1">{{totalClients?.length}}</div>
    </div>
    <div class="d-flex px-2 py-1">
      <div class="me-2">Total principal:</div>
      <div class="ms-auto me-1">
        ₹ {{isd.format(getTotalPrincipalAmount())}}
      </div>
    </div>
    <div class="d-flex px-2 py-1">
      <div class="me-2">Final Amount:</div>
      <div class="ms-auto me-1">
        ₹ {{(isd.format(getFinalAmount().toFixed()))}}
      </div>
    </div>
  </div>

  <app-line-chart [responseData]="totalClients" class="my-2"></app-line-chart>

  <ion-card color="light">
    <ion-item color="success" class="text-center">
      Sorting by Time
      <ion-icon
        [name]="timeGridIcon"
        slot="end"
        (click)="sortTimeGridChange()"
      ></ion-icon>
    </ion-item>
    <span *ngFor="let client of array2 | paginate: { itemsPerPage: 4, currentPage: grid1Page, id:'grid1'}">
      <ion-item
        [routerLink]="getClientsDetailsPageUrl(client.key)"
        color="light"
      >
        <ion-label>{{client.name}}</ion-label>
        <ion-label slot="end" class="fw-bolder">
          {{math.trunc((client.greaterTimePeriod)/12) + "Y " +
          math.trunc(client.greaterTimePeriod%12)+ "M"}}</ion-label
        >
      </ion-item>
    </span>
    <pagination-controls
      (pageChange)="grid1Page = $event"
      id="grid1"
      responsive="true"
      autoHide="true"
    ></pagination-controls>
  </ion-card>

  <ion-card color="light">
    <ion-item color="success" class="text-center"
      >Sorting by Principal
      <ion-icon
        [name]="principalGridIcon"
        slot="end"
        (click)="sortPrincipalGridChange()"
      ></ion-icon
    ></ion-item>
    <span *ngFor="let client of array1 | paginate: { itemsPerPage: 4, currentPage: grid2Page, id:'grid2'}">
      <ion-item
        [routerLink]="getClientsDetailsPageUrl(client.key)"
        color="light"
      >
        <ion-label class="ion-text-wrap">{{client.name}}</ion-label>
        <ion-label slot="end" class="fw-bolder">
          ₹{{isd.format(client.totalPrincipal)}}</ion-label
        >
      </ion-item>
    </span>
    <pagination-controls
      (pageChange)="grid2Page = $event"
      id="grid2"
      responsive="true"
      autoHide="true"
    ></pagination-controls>
  </ion-card>
</ion-content>
