<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="border border-3 rounded-3 p-2 mt-2 bg-light">
      <div class="d-flex p-2">
        <div class="me-2 ">Number of Clients:</div>
        <div class="ms-auto me-1">{{clientsData.length}}</div>
      </div>
      <div class="d-flex p-2">
        <div class="me-2 ">Total principal:</div>
        <div class="ms-auto me-1 ">
          ₹ {{isd.format(getTotalPrincipalAmount())}}
        </div>
      </div>
      <div class="d-flex p-2">
        <div class="me-2 ">Final Amount:</div>
        <div class="ms-auto me-1 ">
          ₹ {{(isd.format(getFinalAmount().toFixed()))}}
        </div>
      </div>
    </div>

    <app-line-chart [graphData]="graphObject"></app-line-chart>

    <p
      class="mx-1 my-1 text-center bg-success rounded-3 text-light p-1"
    >
      Sorting by Time ⬇
    </p>
    <div class="border-3 border rounded-3 mb-3">
      <div class="text-left">
        <ul class="list-group">
          <li
            *ngFor="let client of array2 | slice:0:4;"
            class="list-group-item"
          >
            <div class="d-flex">
              <div class="flex-grow-1">{{client.name}}</div>
              <div class="fw-bolder">
                {{math.trunc((client.greaterTimePeriod)/12) + "Y " +
                math.trunc(client.greaterTimePeriod%12)+ "M"}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p
      class="fw-2 mx-1 my-1 text-center bg-success rounded-3 text-light p-1"
    >
      Sorting by Principal ⬇
    </p>
    <div class="border-3 border rounded-3 mb-3">
      <div>
        <ul class="list-group">
          <li
            *ngFor="let client of array1 | slice:0:4;"
            class="list-group-item"
          >
            <div class="d-flex">
              <div class="flex-grow-1">{{client.name}}</div>
              <div class=" fw-bolder">
                ₹{{isd.format(client.totalPrincipal)}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
