ion-content {
  --ion-background-color: var(--ion-color-medium);
}

.justifyText {
  text-align: justify;
  text-justify: inter-word;
}

.bgLight {
  background-color: var(--ion-color-light);
}

ion-segment {
  border-radius: 2rem;
  height: 2.25rem;
  align-items: center;
  background-color: var(--ion-color-light);
}

ion-segment-button {
  border-radius: 2rem;
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
}

.segment-button-checked {
  background-color: var(--ion-color-primary);
  color: white;
}
