.justifyText {
  text-align: justify;
  text-justify: inter-word;
}

.bgLight {
  background-color: var(--ion-color-light);
}

ion-searchbar {
  --border-radius: 8px;
}

.listItem {
  @media screen and (max-width: 747px) {
    width: 96%;
    margin: auto 2%;
  }

  @media screen and (min-width: 747px) {
    width: 98%;
    margin: auto 1%;
    max-width: 350px;
  }
}

.tabActive {
  background-color: var(--ion-color-primary);
  color: white;
}
