<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <span class="text-grad me-2">CliDa</span>
      <ion-chip [hidden]="showEntryText" [ngClass]="{'tabActive': !showDebitList}"
        (click)="setListType('credits')">Credits</ion-chip>
      <ion-chip [hidden]="showEntryText" [ngClass]="{'tabActive': showDebitList}"
        (click)="setListType('debits')">Debits</ion-chip>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [hidden]="showEntryText" (click)="toggleSearch()" data-bs-toggle="collapse"
        data-bs-target="#collapseExample">
        <ion-icon name="search" slot="icon-only" [color]="isSearchVisible ? 'primary' : ''"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar [hidden]="hideSkeletonText" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="collapse sticky-top" id="collapseExample">
    <div class="d-flex align-items-center">
      <ion-searchbar #searchbar animated="true" color="light" placeholder="Search clients here..."
        [(ngModel)]="clientSearchValue" enterkeyhint="search" show-clear-button="focus"></ion-searchbar>
      <ion-button color="light" routerLink="adv-search" class="me-2">
        <ion-icon name="funnel-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>

  @if(showEntryText) {
  <app-intro [theme]="theme" (reloadClientList)="ionViewWillEnter()"></app-intro>
  } @else if(showDebitList) {
  <app-datalist [dataList]="debitData" [clientSearchValue]="clientSearchValue">
    <ng-container *ngTemplateOutlet="noRecordsTpl"></ng-container>
  </app-datalist>
  } @else{
  <app-datalist [dataList]="creditData" [clientSearchValue]="clientSearchValue">
    <ng-container *ngTemplateOutlet="noRecordsTpl"></ng-container>
  </app-datalist>
  }

  @if(!showEntryText && hideSkeletonText && (showDebitList ? debitData.length === 0 : creditData.length === 0)){
  <div class="d-flex flex-column align-items-center justify-content-center h-100 text-muted text-center"
    [attr.data-bs-theme]="theme">
    <ion-icon name="server-outline" class="mb-3" style="font-size: 4rem"></ion-icon>
    <p class="mb-0">No records yet</p>
  </div>
  }

  <ng-template #noRecordsTpl>
    <div class="text-muted mt-3" [attr.data-bs-theme]="theme">
      No records found
    </div>
  </ng-template>

  <ion-item color="medium" lines="none"></ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="add-client" class="me-1 mb-1">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>