<ion-header>
  <ion-toolbar>
    <ion-title>
      CliDa
      <ion-chip
        [hidden]="showEntryText"
        [ngClass]="{'tabActive': !showDebitList}"
        (click)="setListType('credits')"
        >Credits</ion-chip
      >
      <ion-chip
        [hidden]="showEntryText"
        [ngClass]="{'tabActive': showDebitList}"
        (click)="setListType('debits')"
        >Debits</ion-chip
      >
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button
        [hidden]="showEntryText"
        (click)="resetSearch()"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        ><ion-icon [name]="searchIcon" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-progress-bar
      [hidden]="hideSkeletonText"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showEntryText" class="container my-2">
    <ion-item
      color="primary"
      lines="none"
      class="border border-3 text-center rounded-3"
    >
      <ion-label class="fs-5 text-warning"> Clida says Hello👋</ion-label>
    </ion-item>

    <div class="bgLight rounded-3 px-3 py-2 my-2">
      <div class="justifyText mb-2">
        Click the Backup/Restore button or go to the Info tab in the bottom
        navigation bar to load previously saved data from a json file.
      </div>
      <div class="text-center">
        <ion-button routerLink="/clida/about"> Backup / Restore </ion-button>
      </div>
    </div>

    <div class="bgLight rounded-3 px-3 py-2 my-2">
      <div class="justifyText mb-2">
        To manually add clients, use the button below or the bottom right add
        button on the screen.
      </div>
      <div class="text-center">
        <ion-button color="danger" routerLink="/clida/clients-list/add-client">
          Add new Client
        </ion-button>
      </div>
    </div>

    <ion-button expand="block" (click)="loadSampleData()"
      >Load sample data</ion-button
    >

    <div
      class="d-flex my-2 bgLight align-items-center align-items-lg-stretch rounded-3 bg-warning"
    >
      <div class="fs-1 px-3 py-2 text-dark">!</div>
      <div class="justifyText bgLight px-3 py-2 rounded-end">
        Please save your data locally on a regular basis using the Info tab.
        <br />
        <i>
          You can also sync data to cloud by signing in with your google
          account. After signing in, click the upload button to store data into
          your google account
        </i>
      </div>
    </div>
  </div>

  <div class="collapse sticky-top" id="collapseExample">
    <ion-searchbar
      animated
      class="pb-1"
      color="light"
      placeholder="Search clients here..."
      [(ngModel)]="clientSearchValue"
      enterkeyhint="search"
      search-icon="search-outline"
    ></ion-searchbar>
  </div>

  <div [hidden]="showEntryText">
    <div class="debitList mt-2 text-center" [hidden]="!showDebitList">
      <ion-item
        *ngFor="let client of debitData | clientsSearch:clientSearchValue; trackBy:trackData"
        [routerLink]="'client-details/' + client.key"
        color="light"
        class="rounded-3 listItem d-inline-block"
        lines="none"
      >
        <div>{{client?.data.name}}</div>
        <div class="ms-auto text-end mt-1">
          <ion-badge
            *ngFor="let clientDetail of client.data.data"
            class="ms-1"
            [color]="getColor(clientDetail)"
            slot="end"
            >{{(clientDetail.principal/1000).toFixed() + 'K'}}
          </ion-badge>
        </div>
      </ion-item>
    </div>

    <div class="creditList mt-2 text-center" [hidden]="showDebitList">
      <ion-item
        *ngFor="let client of creditData | clientsSearch:clientSearchValue; trackBy:trackData"
        [routerLink]="'client-details/' + client.key"
        color="light"
        class="rounded-3 listItem d-inline-block"
        lines="none"
      >
        <div>{{client?.data.name}}</div>
        <div class="ms-auto text-end mt-1">
          <ion-badge
            *ngFor="let clientDetail of client.data.data"
            class="ms-1"
            [color]="getColor(clientDetail)"
          >
            {{(clientDetail.principal/1000).toFixed() + 'K'}}
          </ion-badge>
        </div>
      </ion-item>
    </div>
    
  </div>
  <ion-item color="medium" lines="none"></ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="add-client" class="me-1 mb-1">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
