.cardFilterClass {
  box-sizing: border-box;
  min-width: 120px;
  display: inline-block;
  padding: 8px;
  margin: 2px 2px 2px 2px;
  font-weight: 500;
}

ion-content {
  --ion-background-color: var(--ion-color-medium);
}

.bgLight {
  background-color: var(--ion-color-light);
}

.listItem {
  width: 98%;
  margin: auto 1%;
  max-width: 350px;
}
