.cardFilterClass {
  box-sizing: border-box;
  width: 46vw;
  display: inline-block;
  padding: 5px;
  margin: 0 5px
}

ion-content {
  --ion-background-color: var(--ion-color-silver);
}

.bgLight {
    background-color: var(--ion-color-light);
  }
