<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show d-block': showModal}"
  (click)="closeModal($event)">
  <div class="modal-dialog modal-dialog-scrollable modal-right">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title">History</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal($event)">
        </button>
      </div>
      <div class="modal-body">

        <div *ngFor="let record of calHistory; let index = index">
          <div class="mb-4">
            <!-- Section Header (Date) -->
            <button class="btn btn-primary w-100 text-left d-flex justify-content-between align-items-center"
              type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseRecord' + index"
              [attr.aria-expanded]="isFirstRecord(index) ? 'true' : 'false'" aria-controls="collapseRecord">
              <span class="fw-bolder fs-5">{{ record.key | date: 'dd/MM/yyyy' }}</span>
              <span class="badge rounded-pill bg-light text-dark">{{ record.value.length }} Items</span>
            </button>

            <!-- Collapsible Section for the Date -->
            <div id="collapseRecord{{ index }}" class="collapse" [ngClass]="{ 'show': isFirstRecord(index) }">
              <div class="card-deck mt-2">
                <!-- Loop through the records of that particular date -->
                <div *ngFor="let recordData of record.value; let i = index"
                  class="card my-2 border-secondary shadow-sm hover-shadow"
                  (click)="loadData(record.key, recordData.id)" style="cursor: pointer;">

                  <!-- Card Header -->
                  <div class="card-header bg-secondary text-white">
                    <span class="d-block text-truncate" >
                      {{ recordData.name || 'Calc' + (record.value.length -  i) }}
                    </span>
                  </div>

                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                      <div>{{ currencyFormatter(recordData.principal) }}</div>
                      <div>{{ recordData.interest }}</div>
                    </div>

                    <div class="d-flex justify-content-between">
                      <div>{{ recordData.startDate | date: 'dd/MM/yyyy' }}</div>
                      <div>{{ recordData.endDate | date: 'dd/MM/yyyy' }}</div>
                    </div>
                  </div>

                  <!-- Card Footer -->
                  <div class="card-footer bg-transparent">
                    <div class="text-end fw-bolder">
                      {{ currencyFormatter(recordData.principal + recordData.finalInterest) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- No Data Found Message -->
        <div *ngIf="calHistory.length === 0">
          <div class="card">
            <div class="card-body text-center">
              <div class="fw-bolder text-danger">No history found</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>