ion-button {
  z-index: 100;
}

ion-content {
  --ion-background-color: var(--ion-color-silver);
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.justifyText {
  text-align: justify;
  text-justify: inter-word;
}

label {
  color: black;
}

.formClass {
  background-color: var(--ion-color-light);
}
