ion-content {
  --ion-background-color: var(--ion-color-medium);
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

input,
textarea,
textarea:focus,
input:focus {
  background-color: var(--ion-color-dark-contrast);
  color: var(--ion-color-dark);
}

.bgLight {
  background-color: var(--ion-color-light);
}

textarea {
  overflow-y: hidden;
}

.custom-invalid-tooltip {
  padding: 0rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: black;
  background-color: #ffc409;
  border-radius: 0.25rem;
}
