<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Lease Calculator</ion-title>
    <ion-buttons slot="primary">
      <!-- @if(activeLease?.id > 0){
      <ion-button (click)="deleteActiveLease()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      } -->
      <ion-button (click)="navigateToCalculator()">
        <span class="position-relative d-inline-block">
          <ion-icon name="calculator-outline" class="fs-4"></ion-icon>
          <span class="position-absolute start-50 top-0" style="font-size: 75%">
            🔼
          </span>
        </span>
      </ion-button>
      <ion-button (click)="initNewLease()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-leases [theme]="theme" [openCalculator]="true" #leasesComponent></app-leases>
</ion-content>